# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/node_modules

# Environment files
backend/.env

# Prisma SQLite database
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Logs
*.log